<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="schema/phpunit4.3.xsd"
        printerClass="PHPUnit_TextUI_ResultPrinter"
        bootstrap="bootstrap.php"
        backupGlobals="true"
        backupStaticAttributes="false"
        cacheTokens="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        forceCoversAnnotation="false"
        mapTestClassNameToCoveredClassName="false"
        processIsolation="false"
        stopOnError="true"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader"
        timeoutForSmallTests="1"
        timeoutForMediumTests="10"
        timeoutForLargeTests="60"
        verbose="true">


    <testsuites>
        <testsuite name="Boot Build Tests">
            <directory phpVersion="5.4.0" phpVersionOperator=">=">../tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../src/*</directory>
        </whitelist>
    </filter>

    <logging>
        <!--<log type="coverage-html" target="reports" lowUpperBound="35"
             highLowerBound="80"/>-->
        <!--<log type="coverage-clover" target="/tmp/coverage.xml"/>-->
        <log type="coverage-text" target="php://stdout" lowUpperBound="40" highLowerBound="80" showUncoveredFiles="false"/>
    </logging>


</phpunit>